/*===== General =====*/

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    color: #fafafa;
    background: rgb(122, 116, 139);
    background: linear-gradient(rgb(122, 116, 139), #fafafa);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}


/*===== Wrapper =====*/

.container {
    max-width: 800px;
    margin: 5em auto 0;
    padding: 1em;
    font-size: 1.4em;
    line-height: 2;
    border-radius: 20px;
    background: rgb(89, 81, 110);
} 

h1 {
    font-weight: 300;
    font-size: 3em;
    margin: 0;
}

#date {
    margin-bottom: 1em;
}

#location {
    font-size: 1.5em;
    font-weight: 300;
}

.temp {
    display: grid;
    grid-template-columns: 6em 2em 1em;
    align-items: center;
    text-align: center;
    gap: .5em;
}

#convert-temp {
    border: 2px solid #010722;
    border-radius: 5px;
    padding: 0 1.25em 0 .7em;
    font-weight: 700;
    color: #010722;
    transition: background-color 0.5s ease; /* property name | duration | timing-function*/
    transition: color 0.5s ease;
}

#convert-temp:hover {
    background-color: #010722;
    color: #fafafa;
}

.conditions {
    display: block;
    font-size: 1.5em;
    font-weight: 300;
}


/*===== Links =====*/

a {
    text-decoration: none;
    color: rgb(35, 22, 71);
    border-bottom: 1px dotted;
}

a:hover {
    background: #fafafa;
}


/*===== FOOTER =====*/

footer {
    max-width: 80em;
    margin: 5em auto;
    text-align: center;
    padding: 1em 0 0 0;
    font-size: 12px;
    color: rgb(35, 22, 71);
    text-align: center;
}

footer img {
    display: block;
    width: 250px;
    margin: 0 auto 1em;
    text-align: center;
}

.design {
    margin-bottom: 4em;
}